.content-720 
    .info-section
        header.info-section__head
            h2.info-section__title DreamVolt Everyone 
            p.info-section__description Dreamvolt is a goals and targets setting platform, that provides you with pathways to success.

        .info-section__body(
            style=`background-image: url(${baseUrl}asset/image/bg-4-1.jpg)`
        )
            img(
                src=`${baseUrl}asset/image/dreamwall1.png` width="154"
            )
            img.info-section__store-link(
                src=`${baseUrl}asset/image/btn-apple.png`
                width="151"
            )
        .info-section__footer
            ul.item__wrapper  
                li.item 
                    .item__icon
                        .dreamvolt-link 
                    .item__title Engages
                    .item__description Dreamvolt engages, focuses, motivates and empowers students to take responsibility for their own development
                li.item 
                    .item__icon 
                        .dreamvolt-trophy 
                    .item__title Achieve
                    .item__description Dreamvolt allows students to achieve regular wins, increase confidence and create good habits   
                li.item 
                    .item__icon
                        .dreamvolt-stats-bars 
                    .item__title Explore
                    .item__description Explore groups of like minded individuals
                li.item 
                    .item__icon
                        .dreamvolt-users
                    .item__title Pathway To Success 
                    .item__description Tried and tested ways to achieve