.content-720 
    .info-section
        header.info-section__head
            h2.info-section__title DreamVolt Everyone 
            p.info-section__description Dreamvolt is a goals and targets setting platform, that provides you with pathways to success.

        .info-section__body(
            style=`background-image: url(${baseUrl}asset/image/bg-4-1.jpg)`
        )
            img(
                src=`${baseUrl}asset/image/dreamwall1.png` width="154"
            )
            img.info-section__store-link(
                src=`${baseUrl}asset/image/btn-apple.png`
                width="151"
            )
        .info-section__footer
            ul.item__wrapper  
                li.item 
                    .item__icon
                        .dreamvolt-share2 
                    .item__title Share your Vision
                    .item__description Share your vision board
                li.item 
                    .item__icon 
                        .dreamvolt-alarm 
                    .item__title Daily Challenges
                    .item__description Stay motivated with our Daily challenges    
                li.item 
                    .item__icon
                        .dreamvolt-compass2 
                    .item__title Explore
                    .item__description Explore groups of like minded individuals
                li.item 
                    .item__icon
                        .dreamvolt-road
                    .item__title Pathway To Success 
                    .item__description Tried and tested ways to achieve

