$pink: rgba(231, 15, 198, 0.98);
$green: rgba(11, 195, 36, 0.99);
$blue: rgba(18, 190, 255, 0.97);
$darkgrey: rgb(23, 37, 42);
$transparentGrey: rgba(37, 41, 42, 0.5);

$item-first: #00a8f4;
$item-first-border: rgba(0, 168, 244, 0.5);

$item-second: #f79007;
$item-second-border: rgba(247, 144, 7, 0.5);

$item-third: #01bf87;
$item-third-border: rgba(0, 168, 244, 0.5);

$item-fourth: #6632ff;
$item-fourth-border: rgba(0, 168, 244, 0.5);
