html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // background-size: cover;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

.content {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  width: 960px;
  
  &-720 {
    width: 720px;
    margin: 0 auto;
    // height: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
