.top-nav {
  padding: 5px;
  /* background-color: tomato; */
  display: flex;
  justify-content: center;

  &__link-active {
    padding: 10px 20px;
    position: relative;
    color: #17252a;
    transition: 250ms;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;

    &:after {
      transition: 250ms;
      content: "";
      position: absolute;
      top: 35px;
      left: 20px;
      width: calc(100% - 40px);
      background: #12beff;
      height: 3px;
    }

  }

  &__link {
    /* background-color: teal; */
    padding: 10px 20px;
    position: relative;
    color: #17252a;
    transition: 250ms;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      color: #12beff;

      &:after {
        background: #12beff;
        left: 18px;
        width: calc(100% - 40px);
      }
    }

    &:after {
      transition: 250ms;
      content: "";
      position: absolute;
      top: 35px;
      background: white;
      width: 0%;
      height: 3px;
      left: 20px;
    }
  }
}
