nav.top-nav
    a.top-nav__link-active(href=baseUrl) home
    a.top-nav__link(href=`${baseUrl}everyone`) everyone
    a.top-nav__link(href=`${baseUrl}education`) education
    a.top-nav__link(href=`${baseUrl}contact`) contact

