.dreamvolt-logo {
  background-image: url(/asset/image/dv.jpg);
  background-size: contain;
  width: 70px;
  height: 70px;
  // padding-top: 100%;
  // padding-top: 86.03%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
