.footer {
  display: flex;
  min-width: 100%;
  padding-right: 40px;
  list-style-type: none;
  margin-bottom: 0;
  flex-direction: column;

  &__new {
    display: flex;
    gap: 10px;
    list-style-type: none;
  }

  &__social-new {
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;

    &:nth-child(1) {
      background-color: $item-first;
    }

    &:nth-child(2) {
      background-color: $item-second;
    }

    &:nth-child(3) {
      background-color: $item-third;
    }

    &:nth-child(4) {
      background-color: $item-second;
    }

    &:nth-child(5) {
      background-color: $item-first;
    }
  }

  &__social {
    flex-basis: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.5rem;
    height: 30px;

    &:nth-child(1) {
      background-color: $item-first;
    }

    &:nth-child(2) {
      background-color: rgba(255, 0, 0, 0.849);
    }

    &:nth-child(3) {
      background-color: $item-third;
    }

    &:nth-child(4) {
      background-color: $item-fourth;
    }

    &:nth-child(5) {
      background-color: black;
    }

    &:nth-child(6) {
      background-color: $item-sixth;
    }
  }


  &__info-text,
  &__info {
    display: flex;
    list-style-type: none;
    gap: 10px;
    background-color: white;
    color: black;
    // width: 100%;
    height: auto;
    align-items: center;
    // padding-left: 100px;
    justify-content: center;
    margin-top: 0px;
    padding-left: 0;
  }

  &__info-text {
    flex-direction: column;
    line-height: 1.6;
    font-family: Rubik;
    text-align: center;
    list-style-type: none;
  }

  &__info-text1 {
    flex-direction: column;
    line-height: 1.6;
    font-family: Rubik;
    padding-left: 20px;
    list-style-type: none;
    text-align: center;

  }

  &__info {
    min-width: 100%;
    flex-direction: column;
  }

}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;

    &__info {
      min-width: 803px;
      flex-direction: row;
    }

    &__info-text1 {
      padding-left: 300px;
    }

    &__info-text,
    &__info {
      height: 200px;
      padding: 40px;
    }

    .item__title-footer {
      padding-top: 0;
    }
  }

}
