extends _component/layout/base

block awesome-content

  include _component/logo/logo
  include _component/top-nav/top-nav
  include _component/welcome/welcome
  include _component/info-section/info-section
  include _component/info-section/info-section


