.welcome__wrapper 
    .content-720
        ul.welcome__intro
            li.welcome__intro-message Engage
            li.welcome__intro-message Motivate
            li.welcome__intro-message Achieve

        ul.welcome__body
            li.welcome__body-item Dream
            li.welcome__body-item Believe
            li.welcome__body-item Achieve
        h3.welcome__footer Achieving your goals just got easier...
        h4.welcome__extra Android Coming Soon...
        img.welcome__extra-image(
            src=`${baseUrl}asset/image/dreamwall1.png`
        )
        img.welcome__button1(
            src=`${baseUrl}asset/image/btn-apple.png`
        )
        img.welcome__button(
            src=`${baseUrl}asset/image/btn-google.png`
        )


