.welcome {
  &__wrapper {
    background-image: url(#{$baseUrl}asset/image/hero-5-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  &__footer {
    color: #f8ab18;
    margin-top: 7rem;
  }
  //   flex-grow: 1;
  
  &__intro {
    display: flex;
  }
  
  &__body,
  &__intro {
    list-style-type: none;
    padding-left: 0;
    grid-column: 1/2;
  }
  
  &__intro-message {
    padding: 1rem;
    font-family: Rubik;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    
    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child):after {
      content: "";
      width: 12px;
      height: 3px;
      background-color: $darkgrey;
      position: absolute;
      right: -7px;
      top: 31px;
    }
    
    &:nth-child(1) {
      color: $pink;
    }
    
    &:nth-child(2) {
      color: $blue;
    }
    
    &:nth-child(3) {
      color: $green;
    }
  }
  
  &__body-item {
    font-size: 30px;
    color: grey;
    
  }
  
  &__extra {
    text-align: right;
    color: grey;
    grid-column: 2/3;
  }

  &__extra-image {
    grid-column: 2/3;
    grid-row: 2/4;
    justify-self: center;
  }
}


