.welcome {
  &__wrapper {
    background-image: url(#{$baseUrl}asset/image/hero-5-1.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    display: grid;
    grid-gap: 10px;
    width: 150%;

    .dreamvolt-arrow-down2 {
      background-color: paleturquoise;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }


  &__footer {
    color: #f8ab18;
    margin: 1rem 0;
    margin-left: 20px;

  }

  //   flex-grow: 1;

  &__intro {
    display: flex;
    flex-direction: column;
  }

  &__body,
  &__intro {
    list-style-type: none;
    padding-left: 0;
    grid-column: 1/2;
  }

  &__intro-message {
    padding: 1rem;
    font-family: Rubik;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500px;
    box-sizing: border-box;
    position: relative;



    // &:not(:last-child):after {
    //   content: "";
    //   width: 12px;
    //   height: 3px;
    //   background-color: $darkgrey;
    //   position: absolute;
    //   right: -7px;
    //   top: 31px;
    // }

    &:nth-child(1) {
      color: $pink;
    }

    &:nth-child(2) {
      color: $blue;
    }

    &:nth-child(3) {
      color: $green;
    }
  }

  &__body-item {
    font-size: 30px;
    color: grey;
    line-height: 1.5;
    margin-left: 20px;

  }

  &__extra {
    text-align: right;
    color: grey;
    grid-column: span 1;
  }

  &__extra-image {
    grid-column: span 1;
    grid-row: span 1;
    justify-self: center;
  }

  &__button1 {
    grid-column: span 1;
  }

  &__button {
    grid-column: span 1;
    margin-left: 0;
    margin-top: 0;
  }

  &__extra {
    text-align: left;
    color: grey;
    grid-column: span 1;
    margin-left: 30px;
  }

  &__extra-image {
    grid-column: span 1;
    grid-row: span 1;
    margin-left: 30px;
    justify-self: left;

  }

  &__button1 {
    grid-column: span 1;
    justify-self: center;
    display: flex;
    padding-left: 0;
  }

  &__button {
    grid-column: span 1;
    margin-left: 30px;
  }


}


@media screen and (min-width: 1024px) {
  .welcome {

    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
      width: 1000px;


    }

    &__extra {
      grid-column: 2/3;
    }

    &__extra-image {
      grid-column: 2/3;
      grid-row: 2/4;
    }

    &__button1 {
      display: flex;
      padding-left: 0;
    }

    &__button {
      display: flex;
    }

    &__intro-message {
      &:first-child {
        padding-left: 0;
      }
    }

    &__intro {
      flex-direction: row;
    }

    &__footer {
      margin-top: 1rem;
    }

    &:not(:last-child):after {
      content: "";
      background-color: $darkgrey;
    }

  }
}
